.header {
  background-color: white;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
  position: fixed;
  z-index: 5;
}

.header h4 {
  color: MediumAquamarine;
}

a {
  color: black;
}

.logo {
  padding-left: 30px;
  padding-right: auto;
  display: inline-flex;
}

nav {
  display: inline-block;
}

span {
  margin: 0 10px;
}

.main {
  display: inline-flex;
  overflow: scroll;
  font-family: Georgia;
  padding-top: 30px;
}

.column {
  display: inline-flex;
  flex-direction: column;
  margin: 30px 30px 0 0;
}

.subcolumn {
  flex-flow: column wrap;
  align-content: space-between;
  justify-content: space-between;
}

.column.large {
  flex-flow: row wrap;
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
  display: flex;
}

.large .story {
  width: 300px;
}

.subcolumn {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  max-height: 600px;
}

.subcolumn .photo {
  width: 300px;
  margin-top: 15px;
}

.large #main.story {
  width: 630px;
}

.photo {
  min-height: 300px;
}

.photo h1 {
  font-size: 30px;
  color: white;
  text-align: center;
}

.main p {
  font-size: 17px;
}

#mainstory.photo h1 {
  font-size: 40px;
}

#mainstory {
  background-image: url(../images/mainstory.png);
}

#fallseason {
  background-image: url(../images/fallseason.png);
}

#hipster {
  background-image: url(../images/hipster.png);
}

#catceo {
  background-image: url(../images/catceo.png);
}

h3 {
  font-size: 16px;
  text-align: center;
}

.bites {
  display: block;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  width: 180px;
  padding: 11px 20px;
}

/* footer */
.footer {
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 325px;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}

.footer .links {
  display: inline-flex;
  align-items: center;
}

.footer h4 {
  font-family: Georgia;
  font-size: 16px;
  color: white;
  padding: 2px 20px;
  border-right: 2px solid white;
}
