.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header h4 {
  color: MediumAquamarine;
}

.logo {
  padding-left: 30px;
  padding-right: auto;
  display: inline-flex;
}

nav {
  display: inline-block;
}

span {
  margin: 0 10px;
}

.main {
  display: flex;
  overflow: scroll;
}

.column {
  flex-direction: column;
  margin: 30px 30px 0 0;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}



div {
  border: 1px solid;
}
